@charset "UTF-8";

body {
    font-family: "Zen Kaku Gothic New", "sans-serif";
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    position: relative;
    font-size: 0.9rem;
    text-align: justify;
    line-height: 25px;
    background: #c8d2d4; /* 外側の色 */
    color: #3d3d3d;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 1%;
    left: 10%;
    right: 10%;
    bottom: 15px;
    background: #ffffff; /* 内側の色 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 影の設定 */
    z-index: -1; /* 背景に送る */
    border-radius: 10px; /* 角を丸くする */
}

h2 {
    border-bottom: 1px solid #000; /* 下線を引く */
    padding-bottom: 10px; /* 下線とテキストの間隔を調整 */
    margin: 0; /* 余白をリセット */
    color: #2c2c2c;
}

hr {
    border-top: #3d3d3d 1px dashed;
}

blockquote{
    position:relative;
    border-left:3px solid #DA8596;
    padding-left:10px;
}
blockquote p{
    position:relative;
    padding-left:30px;
}
blockquote cite{
    display: block;
    font-size:0.8rem;
    color:#F8C8B2;
    text-align:right;
}

code {
    font-family: "Roboto", "sans-serif";
    font-size: 1.0rem;
}

.footnote-container {
    font-size: 0.75rem;
    line-height: 18px;
    padding-top: 20px;
}

footer {
    border-top: 1px solid #3d3d3d;
    margin-top: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;  /* 縦に並べる */
    justify-content: center; /* 中央揃え */
    align-items: center;     /* 中央揃え */
}

.codeblock {
    background-color: #f4f4f4;
    padding: 20px;
    line-height: 94%;
    font-size: 0.93rem;
    border-radius: 7px;
    font-family: "Roboto", "sans-serif";
}

.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
    font-style: normal; 
}
  
.zen-kaku-gothic-new-medium {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  