@charset "UTF-8";

.titles {
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;  /* 縦に並べる */
    justify-content: center; /* 中央揃え */
    align-items: center;     /* 中央揃え */
}

body {
    font-family: "Zen Kaku Gothic New", "sans-serif";
    padding: 10% 17%; /* body全体のパディング */
    font-size: 0.9rem;
    text-align: justify;
    line-height: 25px;
    background: #c8d2d4; /* 外側の色 */
    color: #3d3d3d;
}

.generated-content {
    position: relative;
    border-radius: 10px; /* 角を丸くする */
    padding: 7%; /* コンテンツのパディング */
}

.generated-content::before {
    content: "";
    display: block;
    position: absolute;
    top: -15px; /* 必要に応じて調整 */
    left: -10%;
    right: -10%;
    bottom: -15px; /* 必要に応じて調整 */
    background: #ffffff; /* 背景色 */
    z-index: -1; /* 背景に送る */
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 影の設定 */
}

h2 {
    border-bottom: 1px solid #000; /* 下線を引く */
    padding-bottom: 10px; /* 下線とテキストの間隔を調整 */
    margin-top: 30px;
    color: #2c2c2c;
}

hr {
    border-top: #3d3d3d 1px dashed;
}

blockquote{
    position:relative;
    border-left:3px solid #DA8596;
    padding-left:10px;
}
blockquote p{
    position:relative;
    padding-left:30px;
}
blockquote cite{
    display: block;
    font-size:0.8rem;
    color:#F8C8B2;
    text-align:right;
}

code {
    font-family: "Roboto", "sans-serif";
    font-size: 1.0rem;
}

.footnote-container {
    font-size: 0.75rem;
    line-height: 18px;
    padding-top: 20px;
}

footer {
    border-top: 1px solid #3d3d3d;
    margin-top: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;  /* 縦に並べる */
    justify-content: center; /* 中央揃え */
    align-items: center;     /* 中央揃え */
}

.codeblock {
    background-color: #f4f4f4;
    padding: 20px;
    line-height: 94%;
    font-size: 0.8rem;
    border-radius: 7px;
    font-family:"0xProto", "Roboto", "sans-serif";
}

.inline-code {
    font-size: 0.78rem;
    font-family: "0xProto"; 
    border-radius: 2px;
    background-color: #e7d2d2;
}

/* font設定 */
@font-face {
    font-family: '0xProto';
    src: url('assets/fonts/0xProto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
    font-style: normal; 
}
  
.zen-kaku-gothic-new-medium {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  