<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{.title}} | ardririyのブログ</title>
        <meta name="description" content="ardririyのブログ">


        <!-- fontの設定-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap" rel="stylesheet">

        <!-- javascriptの設定 -->
        <script src="/assets/js/script.js"></script>
        <script src="/assets/js/footnote.js"></script>
        
        <!-- highlights.js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/vs.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <!-- MathJax-->
        <script>window.MathJax = { MathML: { extensions: ["mml3.js", "content-mathml.js"]}};</script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        
        <!-- css -->
        <style type="text/css" media="screen">
            @import url("/assets/css/style.css");
        </style>
    </head>

    <body>
        <h1>{{.title}}</h1>
        {{.content}}
    </body>
</html>
