<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> ardririyの足跡 </title>
        <meta name="description" content="ardririyの足跡">

        <!-- fontの設定-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500&display=swap" rel="stylesheet">

        <!-- javascriptの設定 -->
        
        <!-- css -->
        <style type="text/css" media="screen">
            @import url("/assets/css/index.css");
        </style>
    </head>

    
    <body>
        <div class="title">
            <h1> ardririyの足跡 </h1>
        </div>
        
        <div class="card-container">
            {{.content}}
        </div>
        <footer>
            <p> ©2024 ardririy / Hayana Nakagawa </p>
        </footer>
    </body>

</html>
